.titulo {
  text-align: center;
  margin-bottom: 25px;
}

.lista {
  max-width: 900px;
  margin: auto;
}

.item {
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 15px;
  background: #f8f6f0;
  display: flex;
  flex-direction: column;
}

.fecha {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 6px;
}

.hace {
  font-size: 12px;
  color: #777;
}

.contenido p {
  margin: 2px 0;
  font-size: 14px;
}

.archivos {
  color: #b00000;
}

.lado-derecho {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.tamanio {
  font-weight: bold;
}

.error {
  color: #d32f2f;
  font-weight: bold;
}

.acciones-superiores {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.btn-regresar {
  background: transparent;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.3s;
}

.btn-regresar:hover {
  background-color: #f5f5f5;
  border-color: #b61515;
  border-radius: 30px;
}