.titulo {
  text-align: center;
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #AB9470;
}

.item {
  border: 1px solid #f3f4f6;
  border-radius: 6px;
  padding: 10px;
  margin: 14px;
  margin-left: 10%;
  margin-right: 10%;
  background: #f8f6f0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fila de fecha */
.fila-superior {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 8px;
}

.hace {
  color: #666;
  font-weight: normal;
}

/* Fila principal */
.fila-principal {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  align-items: center;
  gap: 12px;
}

/* Izquierda */
.info-izquierda {
  font-size: 14px;
}

.delegacion {
  color: #000000;
  font-weight: bold;
  margin-right: 6px;
}

.archivos {
  color: #333;
}

.mes {
  font-size: 13px;
  margin-top: 4px;
}

/* Centro */
.ruta {
  font-size: 12px;
  color: #235B4E;
  word-break: break-all;
}

/* Derecha */
.info-derecha {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.tamanio {
  font-weight: bold;
  font-size: 13px;
}

/* Botón detalles */


.btn-detalle mat-icon {
  font-size: 18px;
  color: #444;
}

.btn-detalle:hover {
  border-color: #000;
}

.btn-detalle:hover mat-icon {
  color: #000;
}

.tamanio {
  font-weight: bold;
}

.error {
  color: #d32f2f;
  font-weight: bold;
}

.acciones-superiores {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

.btn-regresar {
  background: #BCA986;
  border: 1px solid #ccc;
  margin-left: 4%;
  padding: 8px 16px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
}

.btn-regresar:hover {
  background-color: #f5f5f5;
  border-color: #b61515;
  border-radius: 30px;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #BCA986;
}

#mat-icon{
  padding-top: 5px;
}