.header-container {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

/* Ocultar hamburguesa en escritorio */
@media (min-width: 769px) {
  .menu-btn, .header-title-mobile {
    display: none; 
  }
}

/* Mostrar solo en móviles */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
    cursor: pointer;
  }
}

