.header {
  background-color: #f4f5f7;
  border-bottom: 1px solid #9F2241;
  font-family: var(--font-app); 
}

nav a {
  margin-left: 16px;
  text-decoration: none;
  color: #f4f5f7;
  font-weight: 500;
}

h1{
    color: #f4f5f7;
    text-align: left;
}

