<aside class="sidebar" [ngClass]="{'open': isSidebarOpen}">

<div class="reloj">
  <div class="fecha">
    {{ horaActual | date:'EEEE d MMMM y' }}
  </div>
  <div class="hora">
    {{ horaActual | date:'HH:mm:ss' }}
  </div>
</div>

  <div class="sidebar-header">
   <img src="assets/fonts/logoS2.png" alt="Logo">
  </div>

  <button class="close-sidebar-btn" (click)="toggleMenu()">
      <mat-icon>cancel</mat-icon>
    </button>

  <nav class="sidebar-nav">
    <ul class="nav-list">
      <li>
        <a routerLink="/descarga-folios" routerLinkActive="active" class="nav-item">
          <mat-icon>home</mat-icon>
          <span>Inicio</span>
        </a>
      </li>
      <li>
        <a routerLink="/historial-descargas" routerLinkActive="active" class="nav-item">
          <mat-icon>history</mat-icon>
          <span>Historial</span>
        </a>
      </li>
    </ul>
  </nav>
<hr style="opacity: 50%;">
  <footer class="sidebar-footer">
    <a routerLink="/perfil" class="footer-item">
      <mat-icon>person_outline</mat-icon>
      <span>Perfil</span>
    </a>
    <button  class="footer-item btn-logout">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>
  </footer>
</aside>  

<div 
  *ngIf="isSidebarOpen" 
  class="mobile-backdrop" 
  >
</div>

<!--(click)="closeMenu()"-->