<div class="main-container-detalle">
  <div class="header-actions">
    <button (click)="volver()" class="btn-regresar-historial">
      <mat-icon>arrow_back</mat-icon> Volver al historial
    </button>
  </div>

  <section class="card-detalle-principal">


    <div class="encabezado-info">
      <div class="titulo-estatus">
        <h2>{{ detalle?.delegacion }}</h2>
        <span class="badge-estado" [ngClass]="detalle?.estado">
          {{ detalle?.estado }}
        </span>
      </div>
      <p class="periodo-texto">{{ detalle?.periodoLabel }}</p>
    </div>

    <div class="stats-grid">
      
      <div class="stat-item">
        <span class="stat-label">PDFS</span>
        <span class="stat-value">{{ detalle?.stats.pdfs }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">XMLS</span>
        <span class="stat-value">{{ detalle?.stats.xmls }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">RECIBOS</span>
        <span class="stat-value">{{ detalle?.stats.recibos }}</span>
      </div>
      <div class="stat-item">
        <span class="stat-label">OMITIDOS</span>
        <span class="stat-value">{{ detalle?.stats.omitidos }}</span>
      </div>
    </div>

    <div class="seccion-tecnica">
      <div class="tecnica-header">Detalles Técnicos</div>
      <div class="tecnica-body">
        <p><strong>Ruta de la descarga:</strong> {{ detalle?.tecnico.ruta }}</p>
        <p><strong>Inicio de descarga:</strong> {{ detalle?.tecnico.inicio }}</p>
        <p><strong>Fin de descarga:</strong> {{ detalle?.tecnico.fin }}</p>
        <p><strong>Tiempo:</strong> {{ detalle?.tecnico.tiempo }}</p>
        <p> <strong>Filtros Seleccionados: </strong> </p>
           <div class="filtros-resumen">
  <span class="badge-filtro">
    <mat-icon>folder</mat-icon> Padrón: {{ detalle?.filtrosAplicados.padron }}
  </span>
  <span class="badge-filtro">
    <mat-icon>filter_alt</mat-icon> Estado: {{ detalle?.filtrosAplicados.estadoRecibo }}
  </span>
  <span class="badge-formato-detalle" *ngFor="let f of detalle?.filtrosAplicados.formatos">
    <mat-icon>insert_drive_file</mat-icon> {{ f }}
  </span>
</div>
      </div>
    </div>

 

    <div class="registro-actividad">
      <h3>Registro de actividad</h3>
      <div class="consola-negra">
        <div *ngFor="let log of detalle?.logs" [ngClass]="{'log-error': log.tipo === 'ERROR', 'log-ok': log.tipo === 'OK'}">
          [{{ log.tipo }}] {{ log.mensaje }}
        </div>
      </div>
    </div>

    <div class="footer-acciones">
      <button class="btn-reintentar">Reintentar</button>
      <button class="btn-abrir-carpeta">Abrir carpeta</button>
    </div>
  </section>
</div>