
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #53565A;
  border-radius: 5px;
  padding: 20px;
  width: 320px;
  margin-bottom: 20px;
  background-color: #d4dbe0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

select {
  padding: 5px;
  border: 1px solid #b2b6b8;
  border-top: #888D8B;
  border-left: #888D8B;
  border-right: #888D8B;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
  background-color: #AB9470;
}

.resultados {
  border: 1px solid #999;
  padding: 15px;
  width: 320px;
  margin-bottom: 15px;
  background-color: #BCA986;
}

.confirmar {
  width: 320px;
}

.label{
   color: #888B8D;
}