.main-container {
  background-color: #f3f4f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  font-family: sans-serif;
  padding-bottom: 5%;
}

.main-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.card-descarga {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  border: 2px solid #fdfaf4;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.info-header {
  background: #bca986;
  border-color: #bca986;
  border-radius: 5px 5px 0 0;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.info-filtros{
  padding: 5%;
}

.section-subtitle {
  font-weight: bold;
  font-size: 1.1rem;
}

.filter-row {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.filter-label {
  font-weight: bold;
  width: 100px;
}

.options-group {
  display: flex;
  gap: 20px;

}

.options-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.options-group input {
  margin-right: 8px;
}

.grid-meses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-select, .custom-input {
  border: 2px solid #ebdfdf;
  background-color: #ebdfdf;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
}

.small-input {
  width: 50%;
}

.large-label {
  font-size: 1.1rem;
  margin-bottom: 10px !important;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-buscar {
  background-color: #bca986;
  border: 2px solid #bca986;
  color :#ffffff;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 3px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-buscar:hover {
  background-color: #e5e5e5;
  transform: translate(-2px, -2px);
  color: #9e8e6f;
}

.btn-buscar:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px rgb(114, 110, 110);
}
.resultados-container {
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  border: 2px solid #f3f4f6; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.resultados-titulo {
  font-weight: bold;
  font-size: 1.1rem;
}

.resultados-grid {
  display: flex;
  justify-content: space-between; /* Separa archivos de tamaño */
  margin-bottom: 0px;
}

.resultado-tiempo {
  margin-top: 10px;
}

/* Estilo para el botón de confirmar */

.btn-confirmar {
  background-color: #bca986;
  border: 2px solid #bca986;
  color :#ffffff;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 3px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-confirmar:hover {
  background-color: #e5e5e5;
  transform: translate(-2px, -2px);
  color: #9e8e6f;
}

.btn-confirmar:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px 0px rgb(114, 110, 110);
}


/* Diseño en checkbox de filtros */
.radio-borde {
  display: inline-flex;
  align-items: center;
}

.radio-borde input {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #BCA986; /* color del borde */
  border-radius: 50%;
  place-content: center;
}

.radio-borde input:checked {
  border-color: #9e8d6c;
    place-content: center;
}

.radio-borde input:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background: #9e8d6c; /* punto interno */
  border-radius: 50%;
  display: block;
  margin: auto;
}

.resultados-color{
  background-color: #b9e4a0;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 12px
}

.resultados-color-2{
  background-color: #9ed2f5;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 12px;
  margin-right: 45%;
}

.resultados-color-3{
  background-color: #f0e68a;
  font-size: 13px;
  padding: 6px 10px;
  border-radius: 12px
}