.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  border: 1px solid #999;
  padding: 20px;
  width: 320px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

select {
  padding: 5px;
}

button {
  width: 100%;
  padding: 8px;
  cursor: pointer;
}

.resultados {
  border: 1px solid #999;
  padding: 15px;
  width: 320px;
  margin-bottom: 15px;
}

.confirmar {
  width: 320px;
}
