<main class="main-container">
  <h2 class="main-title">DESCARGA MASIVA DE FOLIOS</h2>

  <div class="card-descarga">

        <div class="info-header">
         <h3 class="section-subtitle">Filtros de descarga</h3>
        </div>

  <div class="info-filtros">

    <div class="filter-row">
      <span class="filter-label">Estado:</span>
      <div class="options-group radio-borde">
        <label><input type="radio" name="estado" [(ngModel)]="estadoSeleccionado" value="Activo"> Activo</label>
        <label><input type="radio" name="estado" [(ngModel)]="estadoSeleccionado" value="Cancelar"> Cancelar</label>
        <label><input type="radio" name="estado" [(ngModel)]="estadoSeleccionado" value="Ambos"> Ambos</label>
      </div>
    </div>

    <div class="filter-row">
      <span class="filter-label">Padrón:</span>
      <div class="options-group radio-borde">
        <label><input type="radio" name="padron" [(ngModel)]="padronSeleccionado" value="Todas"> Todas</label>
        <label><input type="radio" name="padron" [(ngModel)]="padronSeleccionado" value="Predial"> Predial</label>
      </div>
    </div>

    <div class="grid-meses">
      <div class="input-group">
        <label>Mes de Inicio:</label>
        <select [(ngModel)]="mesInicio" class="custom-select">
          <option value="">Seleccionar</option>
          <option *ngFor="let m of meses" [value]="m.id">{{ m.nombre }}</option>
        </select>
      </div>
      <div class="input-group">
        <label>Mes Final:</label>
        <select [(ngModel)]="mesFinal" class="custom-select">
          <option value="">Seleccionar</option>
          <option *ngFor="let m of meses" [value]="m.id">{{ m.nombre }}</option>
        </select>
      </div>
    </div>

    <div class="input-group small-input">
      <label>Año:</label>
      <input type="number" [(ngModel)]="anio" class="custom-input">
    </div>

    <div class="input-group full-width">
      <label class="large-label">Seleccione una Delegación:</label>
      <select [(ngModel)]="delegacionSeleccionada" class="custom-select">
        <option value="">Seleccionar</option>
        <option *ngFor="let item of listaDelegaciones" [value]="item.Id">
          {{ item.Nombre }}
      </select>
    </div>

    <div class="button-container">
      <button (click)="buscar()" class="btn-buscar">BUSCAR</button>
    </div>
  </div>

  </div>

  <div *ngIf="resultados" class="resultados-container">

        <div class="info-header">
        <h3 class="resultados-titulo">Resultados de la busqueda:</h3>
        </div>
  
  <div class="info-filtros">
  <div class="resultados-grid">
    <p class="resultados-color"><strong>Archivos encontrados:</strong> {{ resultados.archivos }}</p>
    <p class="resultados-color-3"><strong>Tamaño aprox:</strong> {{ resultados.tamanio }}</p>
  </div>
  
  <p class="resultado-tiempo resultados-color-2">
    <strong>Tiempo aproximado de descarga:</strong> {{ resultados.tiempo }}
  </p>
</div>

</div>
<div *ngIf="resultados" class="button-container">
  <button (click)="confirmarDescarga()" class="btn-confirmar">
    CONFIRMAR DESCARGA
  </button>
</div>

</main>